@{
    Layout = null;
}

<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>@ViewBag.Title</title> 
    <!--link href="@Url.Content("~/Content/Site.css")"  
        rel="stylesheet" type="text/css" /> 
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")"  
        type="text/javascript"></script--> 

        <style>
      div {
      font-size: 46px;
      }
      ul {
      list-style-type: none;
      }
      li {
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
      }
      li span {
      font-size: 40px;
      color: #333;
      float: right;
      margin-top: 30px;
      }
      h3 {
      font-size: 40px;
      margin-bottom: 3px;
      float: left;
      }
    </style>

</head> 
<body> 
    <div class="page"> 
        <header> 
            <div id="title"> 
              <h3>帮助</h3> 
            </div> 
        </header> 
        <section id="main"> 
            <div id="title"> 
              <div>感谢您关注辉瑞公共平台</div>
                <div>直接选择菜单查看相关功能</div>
                <ul>
                  <li>
                    <h3>"声明"</h3>
                    <span>查看辉瑞公共平台的声明</span>
                    <div style="clear:both"></div>
                  </li>
                  <li>
                    <h3>"注册"</h3>
                    <span>身份认证注册</span>
                    <div style="clear:both"></div>
                  </li>
                  <li style="margin-bottom: 16px">
                    <h3>"帮助"</h3>
                    <span>查询相关帮组</span>
                    <div style="clear:both"></div>
                  </li>
                  <li>
                    <h3>"MI"</h3>
                    <span>MI信息管理平台</span>
                    <div style="clear:both"></div>
                  </li>
                  <li>
                    <h3>"提交咨询"</h3>
                    <span>提交相关咨询</span>
                    <div style="clear:both"></div>
                  </li>
                  <li style="margin-bottom: 16px">
                    <h3>"我的咨询"</h3>
                    <span>查询我的咨询</span>
                    <div style="clear:both"></div>
                  </li>
                  <li style="margin-bottom: 16px">
                          <h3>"工具箱"</h3>
                          <span>相关查询工具</span>
                          <div style="clear:both"></div>
                        </li>
                  <li>
                    <h3>"贺卡"</h3>
                    <span>最新贺卡</span>
                    <div style="clear:both"></div>
                  </li>
                  <li style="margin-bottom: 16px">
                    <h3>"竞答"</h3>
                    <span>最新竞答</span>
                    <div style="clear:both"></div>
                  </li>
      
                </ul>
            </div> 
        </section> 
        <footer> 
        </footer> 
    </div> 
</body> 
</html> 