@{
    ViewBag.Title = "辉瑞中国微信公众平台后台管理系统";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                辉瑞中国微信公众平台后台管理系统是由艾美仕市场调研咨询有限公司提供技术的后台管理系统。通过此系统用户可以管理认证用户，文章管理，survery管理等相关功能。
            </p>
        </div>
    </section>
}
<h3>平台使用注意事项:</h3>
<ol class="round">
    <li class="one">
        <h5>申明</h5>
        辉瑞中国微信公众平台后台管理系统只有系统管理员及相关授权用户才能使用。
    </li>

    <li class="two">
        <h5>该平台的功能</h5>
       处理微信相关消息反馈；微网站等。
    </li>

    <li class="three">
        <h5>使用帮助</h5>
        如果在使用过程中遇到问题，请及时联系艾美仕市场调研咨询有限公司相关技术人员
    </li>
</ol>
